<style>
 table{
    width :100%;
}

.flight{
    background-color:purple;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: auto;
}

.logout{
    float:right;
    background-color: #007bff;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: auto;
  color:white;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {

    background-color:plum;

}
a:hover{
    color:black;
}
a{
    color:white;
}
</style>



  
<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist" *ngIf="role == 'Admin'" style="background-color:purple">
     

        <!-- <table>
            <tr >
                <div class="row">                    
                            <h6 class="flight">{{role}}</h6> 
                        <h6 class="flight" style="padding-left: 850px;"></h6> 
                           
                            <h6 class="flight">Welcome!  {{userName}} </h6>                              
                             <button class="nav-link logout" (click)="logout()"> Log Out</button>                   
                </div>
            </tr>
           
        </table>  -->
        <li style="padding-top:10px; color:white">
            Welcome! 
        </li>
        &nbsp;
        <li style="padding-top:10px; color:white">
            {{role}}  &nbsp;&nbsp;{{userName}}
        </li>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <li class="nav-item" routerLink="airline" style="color:white;padding-left:50px;" >
            
            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true" >Add Airline</a>
        </li>
        
        <li class="nav-item" routerLink="addinventory" style="color:white" >
            <a class="nav-link"  id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Manage Scheduled</a>
        </li>
        
        <li class="nav-item" routerLink="discounts" style="color:white" >
            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Manage Discounts</a>
         </li>
         
         <li class="nav-item" (click)="logout()" style="color:white; padding-left:300px">
            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" aria-controls="pills-profile" aria-selected="false">Log Out</a>
         </li>
    </ul>

    
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist" *ngIf="role == 'User'" style="background-color:purple">
        <!-- <table>
            <tr >
                <div class="row">                    
                            <h6 class="flight">{{role}}</h6> 
                        <h6 class="flight" style="padding-left: 850px;"></h6> 
                          
                            <h6 class="flight">Welcome!  {{userName}} </h6>                              
                             <button class="nav-link logout" (click)="logout()"> Log Out</button>                   
                </div>
            </tr>
           
        </table>  -->
       
         
        <li style="padding-top:10px; color:white">
            Welcome! 
        </li>
        &nbsp;
        <li style="padding-top:10px; color:white">
            {{role}}  &nbsp;&nbsp;{{userName}}
        </li>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <li class="nav-item"  style="color:white;padding-left:50px;" >
            <a class="nav-link active"  routerLink ="/Flightbooking" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Booking Flight</a>
        </li>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <li class="nav-item" style="color:white">
            <a class="nav-link"  routerLink ="/ManageBooking" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Manage Booking</a>
        </li>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <li class="nav-item" style="color:white">
            <a class="nav-link"  routerLink ="/BookingHistory" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Booking History</a>
            </li>
           
            &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
            <li class="nav-item" (click)="logout()" style="color:white">
                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" aria-controls="pills-profile" aria-selected="false">Log Out</a>
             </li>
            </ul>
            

<router-outlet></router-outlet>  





